{% extends 'base.html.twig' %}

{% block title %}Pagina index{% endblock %}

{% block body %}
    <h1>Pagina index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Image</th>
                <th>Contenido</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pagina in paginas %}
            <tr>
                <td>{{ pagina.id }}</td>
                <td>{{ pagina.titulo }}</td>
                <td>{{ pagina.image }}</td>
                <td>{{ pagina.contenido }}</td>
                <td>
                    <a href="{{ path('app_pagina_show', {'id': pagina.id}) }}">show</a>
                    <a href="{{ path('app_pagina_edit', {'id': pagina.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_pagina_new') }}">Create new</a>
{% endblock %}
